# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/
*.exe
*.out
*.app

# Construction
Makefile
.ninja_*
*.ninja

# CMake artifacts
*.cmake
CMakeFiles
CMakeCache.txt
cmake_config.hpp

# IDE
.idea

# Dependencies directories
linux_dependencies
osx_dependencies
windows_dependencies
